<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shangda.tourism.dao.UserDao">
    <sql id="insertFields">
        username,password,salt,email,name,phone,gender,type,status,header_url,birthday,create_time,activation_code
    </sql>
    <sql id="selectFields">
        id,username,password,salt,email,name,phone,gender,type,status,header_url,birthday,create_time,activation_code
    </sql>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values
        (#{username},#{password},#{salt},#{email},#{name},#{phone},#{gender},#{type},#{status},#{headerUrl},#{birthday},now(),#{activationCode});
    </insert>

    <update id="updateStatus">
        update user set status = #{status} where id = #{id};
    </update>

    <select id="selectByUsername" resultType="com.shangda.tourism.model.User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username};
    </select>

    <select id="selectById" resultType="com.shangda.tourism.model.User">
        select <include refid="selectFields"></include>
        from user
        where id = #{id};
    </select>

    <select id="selectByCode" resultType="com.shangda.tourism.model.User">
        select * from user where activation_code = #{code};
    </select>

    <select id="selectByEmail" resultType="com.shangda.tourism.model.User">
        select * from user where email = #{email};
    </select>
</mapper>